{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

<title>Log In</title>

{% endblock %}

{% block body %}

<div class="text-center">
    <br />
    <h1>Login</h1>
    <br />
    <div class="alert border border-dark justify-content-center" style="background-color:white;">
        <form method="post">
            {% csrf_token %}
            <li class="list-group-item">
                {{form|crispy}}
            </li>
            <br>
            <button type="submit" class="btn btn-dark">
                LOG IN
            </button>
        </form>
        <br />
        <a href="/accounts/password_reset/" class="btn btn-primary" style="white-space: normal; font-size: x-small;word-wrap:break-word;">Forgot password or username</a>

    </div>
</div>
{% endblock %}