{% extends "base.html" %}
{% block head %}

<title>Operator List</title>

{% endblock %}

{% block body %}
<div>
    <h1>List of Operators</h1>
    <small>These the the list of operators which are assigned to {{user.client}}</small>
    <br>
</div>

<div class="table-responsive-lg">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="w-20" scope="col">No#</th>
                <th class="w-20" scope="col">Name</th>
                <th class="w-20" scope="col">Contact No#</th>
                <th class="w-20" scope="col">Details</th>
                <th class="w-20" scope="col">Documents</th>
            </tr>
        </thead>
        <tbody>
            {% for operator in operator_list %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{operator.operator_name}}</td>
                <td>{{operator.contact_number}}</td>
                <td>
                    <a href="{% url 'clientApp:operator_profile' operator.operator_user_id %}"
                        class="btn btn-warning">Detail</a>
                </td>
                <td>
                    <a href="{% url 'clientApp:client_operator_documents' operator.operator_user_id %}"
                        class="btn btn-success">Documents</a>
                </td>

            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
<br>
<div class="row">
    <div class="col-5">
        <a class="btn btn-primary btn-lg" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>

<br>
{% endblock %}