{% extends "base.html" %}

{% load static %}

{% block head %}

<title>Client Profile</title>

{% endblock %}

{% block body %}
<br>
<h1>CLient Profile</h1>
<hr />

<div class="card">
    <h1 class="card-header">{{client.client_name}}</h1>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            {% if client.profile_picture %}
            <li class="list-group-item">
                <img class="img-thumbnail" src="{{client.profile_picture.url}}" alt="Responsive image"></li>
            {% endif %}

            <li class="list-group-item">Username : {{client.user_name}}</li>
            <li class="list-group-item">Contact Person : {{client.user_name.first_name}} {{client.user_name.last_name}}</li>
            <li class="list-group-item">Client Type : {{client.client_type}}</li>
            <li class="list-group-item">Email : {{client.user_name.email}}</li>
            <li class="list-group-item">Contact # : {{client.contact_number}}</li>
            <li class="list-group-item">Address : {{client.address}}</li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-5">
        <a class="btn btn-primary" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>
<br>

{% endblock %}