{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

<title>Dashboard</title>

{% endblock %}

{% block body %}

<div>
    <br>
    <h1 class="col-md-8 offset-md-2 text-center">
        Welcome
    </h1>
    <hr />
    <br />

    {% if user.client %}

    <h1>{{user.client}}</h1>
    <hr>
    <br>
    <h2>Yours Operators</h2>
    <img src="{% static 'clientApp/client-operator-banner.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:client_operator_list' %}">View your operators</a>
        </div>
    </div>
    <hr>

    <h2>Feedback</h2>
    <img src="{% static 'clientApp/feedback_banner.png' %}" style="width: 100%; height:200px;">

    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;" href="{% url 'clientApp:client_feedback' %}">Giving a feedback</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:client_feedback_list' %}">Viewing a feedback</a>
        </div>
    </div>
    <hr>

    <h2>Holiday requests</h2>
    <img src="{% static 'clientApp/holidays-request.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:leave_list' action='Pending' %}">Pending Holidays <span
                    class="badge badge-light">{{pendingLeaveCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:leave_list' action='Approve' %}">Approved Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:leave_list' action='Decline' %}">Declined Holidays</a>
        </div>
    </div>
    <hr>

    <h2>Invoices</h2>
    <img src="{% static 'clientApp/invoices.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:client_invoice_list' %}">View Invoices <span
                    class="badge badge-light">{{invoiceCount}}</span></a>
        </div>
    </div>
    <hr>

    <div>
        <form method="post">
            {% csrf_token %}
            <li class="list-group-item">
                {{clientChatAdmin|crispy}}
            </li>
            <br>
            <h2>Send a message to Urban Communications &nbsp;
            <button type="submit" class="btn btn-dark text-center ">
                Send
            </button>
        </h2>
        </form>
    </div>
    <hr>

    <div>
        <a class="btn btn-primary" style="margin-bottom: 10px;"
            href="{% url 'clientApp:client_admin_message_list' adminAccount.id %}">Urban Communications Messages <span
                class="badge badge-light">{{messageCount}}</span></a>
    </div>
    <hr>

    <h2>Send message to your operator</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <li class="list-group-item">
                {{clientChatForm|crispy}}
            </li>
            <br>
            <button type="submit" class="btn btn-dark ">
                Send
            </button>
        </form>
    </div>
    <hr>
    <div>
        {% for operator in totalOperator %}
        <a class="btn btn-primary" style="margin-bottom: 10px;"
            href="{% url 'clientApp:client_message_operator_list' operator.operator_user_id %}">
            {{operator.operator_name}}
        </a>
        &nbsp;
        {% endfor %}
    </div>
    <hr>

    {% endif %}



    {% if user.operator %}

    <h1>{{user.operator}}</h1>
    <hr>
    <br>

    <h2>Documents</h2>
    <img src="{% static 'clientApp/documents.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_document_upload' %}">Upload Documents</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_document_list' %}">View Documents</a>
        </div>
    </div>
    <hr>

    <h2>Feedback</h2>
    <img src="{% static 'clientApp/feedback_banner.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" href="{% url 'clientApp:operator_feedback_list' %}">Feedback <span
                    class="badge badge-light">{{feedbackCount}}</span></a>
        </div>
    </div>
    <hr>

    <h2>Holiday Details</h2>
    <img src="{% static 'clientApp/holidays-request.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_leave_request' %}">Request Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_leave_list' action='Pending' %}">Pending
                Holidays <span class="badge badge-light">{{pendingLeaveCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_leave_list' action='Approve' %}">Approved
                Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_leave_list' action='Decline' %}">Declined
                Holidays</a>
        </div>
    </div>
    <hr>

    <h2>Messages</h2>
    <img src="{% static 'clientApp/message.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_message_client_list' %}">Client Messages <span
                    class="badge badge-light">{{messageCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_message_admin_list' %}">Urban Communications Messages <span
                    class="badge badge-light">{{operatorAdminMessageCount}}</span></a>
        </div>
    </div>
    <hr>

    {% endif %}


    {% if user.is_staff %}

    <h2>Admin</h2>

    {% if user.is_superuser %}
    <img src="{% static 'clientApp/admin.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" href="/admin/">Admin Panel</a>
        </div>
    </div>
    {% endif %}
    <hr>

    <h2>Feedback</h2>
    <img src="{% static 'clientApp/feedback_banner.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_feedback_list' %}">Client feedback <span
                    class="badge badge-light">{{feedbackCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_employee_feedback' %}">Giving feedback to your employee</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_employee_feedback_list' %}">Viewing the feedback of your employee</a>

        </div>
    </div>
    <hr>

    <h2>Invoices</h2>
    <img src="{% static 'clientApp/invoices.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_invoice_upload' %}">Upload Invoices</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;" href="{% url 'clientApp:admin_invoice_list' %}">View
                Invoices</a>
        </div>
    </div>
    <hr>

    <h2>Registration</h2>
    <img src="{% static 'clientApp/registration.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:operator_signup' %}">Operator Registration</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_client_signup' %}">Client Registration</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_signup' %}">Employee Registration</a>
        </div>
    </div>
    <hr>

    <h2>Holiday Request</h2>
    <img src="{% static 'clientApp/holidays-request.png' %}" style="width: 100%; height:200px;">
    <br>
    <h6><strong>Operator</strong></h6>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_leave_list' action='Pending' %}">Pending
                Holidays <span class="badge badge-light">{{pendingLeaveCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_leave_list' action='Approve' %}">Approved
                Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_leave_list' action='Decline' %}">Declined
                Holidays</a>
        </div>
    </div>
    <h6><strong>Employee</strong></h6>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_employee_holiday_list' action='Pending' %}">Pending
                Holidays <span class="badge badge-light">{{pendingHolidayEmployeeCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_employee_holiday_list' action='Approve' %}">Approved
                Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:admin_employee_holiday_list' action='Decline' %}">Declined
                Holidays</a>
        </div>
    </div>
    <hr>

    <h2>Send Message to Client</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <li class="list-group-item">
                {{adminChatForm|crispy}}
            </li>
            <br>
            <button type="submit" class="btn btn-dark ">
                Send
            </button>
        </form>
    </div>
    <hr>

    <div>
        <h2>Messages of Client</h2>
        {% for clientObj in adminTotalClient %}

        {% for clientCountObj in adminClientMessageCountList %}

        {% if clientObj.client_user_id == clientCountObj.client_id %}
        <a class="btn btn-primary" style="margin-bottom: 10px;"
            href="{% url 'clientApp:admin_client_message_list' clientObj.client_user_id %}">
            {{clientObj.client_name}}
            <span class="badge badge-light">{{clientCountObj.count}}</span>
        </a>
        &nbsp;
        {% endif %}
        {% endfor%}
        {% endfor %}
    </div>
    <hr>

    <h2>Send Message to Operator</h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <li class="list-group-item">
                {{adminChatOperator|crispy}}
            </li>
            <br>
            <button type="submit" class="btn btn-dark ">
                Send
            </button>
        </form>
    </div>
    <hr>

    <div>
        <h2>Messages of Operator</h2>
        {% for operatorObj in adminTotalOperator %}
        <a class="btn btn-primary" style="margin-bottom: 10px;"
            href="{% url 'clientApp:admin_operator_message_list' operatorObj.operator_user_id %}">
            {{operatorObj.operator_name}}
        </a>
        &nbsp;
        {% endfor %}
    </div>
    <hr>

    {% endif %}

    {% if user.employee %}

    <h1>{{user.employee}}</h1>
    <hr>
    <br>

    <h2>Feedback</h2>
    <img src="{% static 'clientApp/feedback_banner.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" href="{% url 'clientApp:employee_feedback_list' %}">Feedback <span
                    class="badge badge-light">{{feedbackCount}}</span></a>
        </div>
    </div>
    <hr>

    <h2>Documents</h2>
    <img src="{% static 'clientApp/documents.jpg' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_document_upload' %}">Upload Documents</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_document_list' %}">View Documents</a>
        </div>
    </div>
    <hr>

    <h2>Holiday Details</h2>
    <img src="{% static 'clientApp/holidays-request.png' %}" style="width: 100%; height:200px;">
    <div class="row">
        <div class="col">
            <br>
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_holiday_request' %}">Request Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_holiday_list' action='Pending' %}">Pending
                Holidays <span class="badge badge-light">{{pendingLeaveCount}}</span></a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_holiday_list' action='Approve' %}">Approved
                Holidays</a>
            &nbsp;
            <a class="btn btn-primary" style="margin-bottom: 10px;"
                href="{% url 'clientApp:employee_holiday_list' action='Decline' %}">Declined
                Holidays</a>
        </div>
    </div>
    <hr>

    {% endif %}

</div>



{% endblock %}