{% extends "base.html" %}

{% load static %}

{% block head %}

<title>Holiday Detail</title>

{% endblock %}

{% block body %}
<br>
<h1>Holiday Detail</h1>
<hr />

<div class="card">
    <h1 class="card-header">{{leave.operator_id}}</h1>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">Client : {{leave.client_id}}</li>
            <li class="list-group-item">From : {{leave.from_date}}</li>
            <li class="list-group-item">To : {{leave.to_date}}</li>
            <li class="list-group-item">Total Days : {{leave.no_of_days}}</li>
            <li class="list-group-item">Leave Requested On : {{leave.created_at}}</li>

            {% if leave.reason %}
            <li class="list-group-item">Reason : {{leave.reason}}</li>
            {% endif %}

            <li class="list-group-item">Client Status : {{leave.client_leave_status}}</li>
            <li class="list-group-item">Urban Communications Status : {{leave.admin_leave_status}}</li>
            <li class="list-group-item">Leave Final Status :<h2>{{leave.leave_status}}</h2>
            </li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-5">
        <a class="btn btn-primary" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>

{% endblock %}