{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

<title>Documents Uplaod</title>

{% endblock %}

{% block body %}
<br>
<h1>Document Upload Form</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <li class="list-group-item">
        {{form|crispy}}
    </li>
    <br>
    <button class="btn" style="color: white;background-color: maroon;" type="submit">Upload</button>
</form>
<br />
<div class="row">
    <div class="col-5">
        <a class="btn btn-dark" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>
<br>

{% endblock %}