{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

<title>Holiday Request</title>

{% endblock %}

{% block body %}
    <br>
    <h1>Holiday Request Form</h1>
    
    <form method="POST">
        {% csrf_token %}
        <li class="list-group-item">
            {{form|crispy}}
        </li>
        <br>
        <button class="btn btn-lg" style="color: white;background-color: maroon;" type="submit">Submit</button>
    </form>
    <br />
    <div class="row">
        <div class="col-5">
            <a class="btn btn-dark" href="{% url 'clientApp:home' %}">Back</a>
        </div>
    </div>

{% endblock %}