{% extends "base.html" %}

{% load static %}

{% block head %}

<title>Operator Profile</title>

{% endblock %}

{% block body %}

<h1>Operator Profile</h1>
<hr />

<div class="card">
    <h1 class="card-header">{{operator.operator_name}}</h1>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            {% if operator.profile_picture %}
            <li class="list-group-item">
                <img class="img-thumbnail" src="{{operator.profile_picture.url}}" alt="Responsive image"></li>
            {% endif %}

            <li class="list-group-item">User Name : {{operator.user_name}}</li>
            <li class="list-group-item">Client : {{operator.client_id}}</li>
            <li class="list-group-item">Email : {{operator.user_name.email}}</li>
            <li class="list-group-item">Contact Number : {{operator.contact_number}}</li>
            <li class="list-group-item">Address : {{operator.address}}</li>
            <li class="list-group-item">DOB : {{operator.date_of_birth}}</li>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-5">
        <a class="btn btn-primary" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>

{% endblock %}