{% extends "base.html" %}

{% load static %}

{% block head %}

<title>Delete Confirmation</title>

{% endblock %}

{% block body %}
<div class="col-md-10">
    <hr />
    <form method="post">
        {% csrf_token %}
        <h5>Are you sure you want to delete <em><strong> "{{ object }}" </strong></em> ?</h5>
        <hr />
        <button class="btn-danger btn-lg" type="submit">Yes, Delete</button>
    </form>
    <br>
    <form action="{% url 'inventoryapp:my_advertisment_list' %}">
        <button type="submit" class="btn-primary btn-lg">Back</button>
    </form>

</div>

{% endblock %}