{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<title>Enter new password</title>
{% endblock %}

{% block body %}

{% if validlink %}
<div class="container p-5">
    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
    <hr>
    <p>Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        <li class="list-group-item">
            {{form|crispy}}
        </li>                  
        <button class="btn btn-dark btn-lg btn-lg" type="submit">Reset password</button>
    </form>
</div>
{% else %}

<p>
    Your link is not valid.
</p>
{% endif %}
{% endblock %}