{% extends "base.html" %}
{% load static %}

{% block head %}

<title>Home</title>

{% endblock %}

{% block body %}

<div>
    <h1 class="col-md-8 offset-md-2 text-center">
        Welcome to Urban Communication
    </h1>
    <hr />
    <br />

    {% if user.client %}

    <h1>Hi, {{user.client}}</h1>
    <hr>
    <br>
    <div class="row">
        <div class="col-4">
            <h2>Feedbacks</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:client_feedback' %}">Give Feedback</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:client_feedback_list' %}">View Feedback</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h2>Leave Requests</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:leave_list' %}">Leave Requests</a>
        </div>
    </div>

    {% endif %}



    {% if user.operator %}

    <h1>Hi, {{user.operator}}</h1>
    <hr>
    <br>

    <h2>Leave Details</h2>
    <hr>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:operator_leave_request' %}">Leave Request</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:operator_leave_list' %}">Leave List</a>
        </div>
    </div>
    <hr>
    <h2>Documents</h2>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:operator_document_upload' %}">Upload Documents</a>
        </div>
        <div class="col-4">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:operator_document_list' %}">View Documents</a>
        </div>
    </div>
    <hr>

    {% endif %}


    {% if user.is_staff %}

    {% if user.is_superuser %}
    <h2>Admin</h2>
    <hr>
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="/admin/">Admin Panal</a>
        </div>
    </div>
    <hr>
    {% endif %}

    <h2>Registration</h2>
    <hr>
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:operator_signup' %}">Operator Registration</a>
        </div>
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:admin_client_signup' %}">Client Registration</a>
        </div>
    </div>
    <hr>
    <h2>Feedback</h2>
    <hr>
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:admin_feedback_list' %}">Feedback</a>
        </div>
    </div>
    <hr>
    <h2>Leave Requests</h2>
    <hr>
    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="{% url 'clientApp:admin_leave_list' %}">Leave Requests</a>
        </div>
    </div>
    <hr>
    {% endif %}


</div>

{% endblock %}