{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

<title>Documents Uplaod</title>

{% endblock %}

{% block body %}

<h1>Document Upload Form</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <li class="list-group-item">
        {{form|crispy}}
    </li>
    <br>
    <button class="btn btn-success" type="submit">Uplaod</button>
</form>
<br />
<div class="row">
    <div class="col-5">
        <a class="btn btn-primary" href="{% url 'clientApp:home' %}">Back</a>
    </div>
</div>

<br>
<div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

</div>
<br>

{% endblock %}